<div class="chat-container">
    <div class="chat-header">
        El Chat0
    </div>
    <div id="chatAllMessages" class="chat-messages">
        <div class="chatWelcome">Bienvenido al chat</div>
    </div>
    <div class="chat-input">
        <input id="chatBox" type="text"  placeholder="Escribe tu mensaje..." autofocus>
        <button id="chatBtn">Enviar</button>
    </div>
</div>