<div class="chat-container">
    <div class="chat-header">
        Simple Chat
    </div>
    <div class="chat-messages">
        <div class="message">
            <span class="user">User1:</span>
            <span class="text">Hello!</span>
        </div>
        <div class="message">
            <span class="user">User2:</span>
            <span class="text">Hi there!</span>
        </div>
        <!-- Add more messages here -->
    </div>
    <div class="chat-input">
        <input type="text" placeholder="Type your message">
        <button>Send</button>
    </div>
</div>