<h1>Real Time Products List</h1>

{{!-- Form starts here --}}
<form id="formProducts">
    <input type='text' placeholder="Titulo" name='title' value="Prueba" required autofocus />
    <input type='text' placeholder="Descripcion" name='description' value="Descripcion de prueba" required />
    <input type='number' placeholder="Precio" name='price' value="100" required />
    <input type='text' placeholder="Imagen" name='thumbnail' value="none" />
    <input type='text' placeholder="Codigo" name='code' value="codigo123" required />
    <input type='number' placeholder="Stock" name='stock' value="10" required />
    <input type='text' placeholder="Status" name='status' value="true" required />
    <input type='text' placeholder="Categoria" name='category' value="Celulares" required />
    <div id="submitButtonContainer">
        <input type='submit' value='Cargar Producto' />
    </div>
</form>

<table class="product-table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Codigo</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Eliminar?</th>
        </tr>
    </thead>
    <tbody id="products"></tbody>
</table>