h3,
h4 {
    text-align: center;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-table th,
.product-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.product-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.product-table img {
    max-width: 50px;
}

.button-td {
    display: flex;
    align-items: center;
    text-align: center;
}

.stock-prod {
    padding: 5px 10px;
}

.button-td button {
    background-color: #4caf50;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-td button:hover {
    background-color: #45a049;
}

.addCart-btn {
    background-color: #4caf50;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.logout-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-button {
    background-color: #943431d7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #db514cd7;
}