<nav>
    <ul>
        <li><a href="/static/home">Home</a></li>
        <li><a href="/static/realtimeproducts">Cargar Productos</a></li>
        <li><a href="/static/messages">Chat0</a></li>
    </ul>
</nav>